<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/createUser}" th:object="${user}">

    <label for="firstName">Enter First Name</label>
    <input type="text" th:field="${user.firstname}" id="firstname"/>
    <br/>
    <br/>
    <label for="lastName">Enter Last Name</label>
    <input type="text" th:field="${user.lastname}" id="lastname"/>
    <br/>
    <br/>
    <label for="email">Enter Email     </label>
    <input type="text" th:field="${user.email}" id="email"/>
    <br/>
    <br/>
    <label for="lastName">Enter Username  </label>
    <input type="text" th:field="${user.username}" id="username"/>
    <br/>
    <br/>
    <label for="email">Enter Password  </label>
    <input type="text" th:field="${user.password}" id="password"/>
    <br/>
    <br/>
    <label for="roles">Role: </label>
    <select name="select" th:field="*{roles}" id="roles" multiple required>
        <option th:value="2" th:text="ADMIN"></option>
        <option th:value="1" th:text="USER"></option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="save"/>
</form>
<p><a href="#" onclick="history.back();">Back</a></p>
<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
</body>
</html>