<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<h3>List of Users</h3>

<table border="2">
    <tr>

        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user: ${users}">

        <td th:utext="${user.firstname}">First Name</td>
        <td th:utext="${user.lastname}">Last Name</td>
        <td th:utext="${user.email}">Email</td>
        <td th:utext="${user.username}">Username</td>
        <td th:text="${user.roles}"></td>
        <td>
            <a th:href="@{editUser/{id}(id=${user.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<br>
<a href="/new">Add User</a>
<br>
<a href="/user">User Info</a>
<br>
<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
</body>
</html>
